root = true

[*]
charset = utf-8
end_of_line = lf

[*.{toml,json,sh,yml}]
indent_size = 2
indent_style = space

[*.{toml,json,sh,yml,py,editorconfig}]
trim_trailing_whitespace = true
insert_final_newline = true
